.search-panel {
  margin: auto;
  margin-top: 200px;
  max-width: 900px;
  text-align: center;
}
#search-term,
#search {
  outline: none;
  border: 1px solid #777;
  border-radius: 2px;
  background: transparent;
  padding: 12px 16px;
}

#search-term {
  border-radius: 25px;
}

#search {
  margin-top: 10px;
  border: none;
  background: #f0f0f0;
  color: #333;
}

#result {
}

.cover-art {
  width: 240px;
}
